*{
  margin:0;
}

@media screen and (max-width: 600px) {
  html {
    width: 600px;
    overflow: auto;
  }
}
/* .screen{
  width: 100%;
  height:100vh;
  display: grid;
  grid-template-areas: 
  'left right';
  grid-template-columns: 50% 50%;
}

.left-side{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: left;
  opacity: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-side{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-area: right;
  opacity: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  text-align: center;
  opacity: 100%;
} */

.frame {
  grid-template-columns: repeat(4,1fr);
  grid-gap: 1rem 0;
}

.card-container {
  display: grid;
  margin: 0.5rem;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 0 1rem;
}

.anime-card{
  height: 20rem;
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-areas: 
  'title title'
  'img synopsis';
  align-items: center;
}

.anime-card-title {
  font-size: 20px;
  text-align: center;
  grid-area: title;
  max-height: 0px;
}

.anime-card-img {
  grid-area: img;
  width:100px;
  max-height:10rem
}

.anime-card-synopsis {
  grid-area: synopsis;
  max-height: inherit;
  text-overflow: clip;
  /* width: */
}
.anime-card-synopsis-wrapper {
  overflow-y: scroll;
  max-height: 100px;
  max-height:10rem
}